<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <b><a class="navbar-brand" href="#" style="color: blue;">CARALIBRO</a></b>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item" style="margin-left: 200%;">
          <label>Bienvenido </label> 
        </li>
        <li class="nav-item">
          <li class="nav-item">
          <a class="nav-link" href="#">Cerrar Session</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<div class="container-sm"  align= "center">
<div class="card" style="width: 40rem;" align="left">
  <div class="card-body">
    <form>
    <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Mi muro</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="En que estas pensando..."></textarea>
</div>
<button class="btn btn-primary">Publicar</button>
    </form>
  </div>
</div>

<br>
<br>

<div class="card" style="width: 40rem;" align="left">
  <div class="card-body">
    <h5 class="card-title">Nombre de Usuario</h5>
    <h6 class="card-subtitle mb-2 text-muted">fecha</h6>
    <p class="card-text">publicacion</p>
     <button class="btn btn-link">Eliminar</button>
    <div class="card" style="width: 37rem;">
  <div class="card-body">
    <h5 class="card-title">Comentario</h5>
    <a href="#" class="card-link">Modificar</a>
    <button class="btn btn-link">Eliminar</button>
    <form class="row g-3">
  <div class="col-auto">
    <input type="password" class="form-control" id="inputPassword2" placeholder="Comentario...">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Comentar</button>
  </div>
  </form>
  </div>
</div>
  </div>
</div> 

